.date{
    border :0px solid yellow;
    color : black;
    font-size :2.3em;
    font-family: Aladin;
    text-align: initial;
}
.year{
    font-size :20px;
    text-align: left;
}
.time{
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clock{
    border: 0px solid white;
    font-size: 15px;
}
.location{
    font-size: 13px;
}
.material-icons{
    font-size:25px;
}
.temp{
    text-align: center;
    font-size: 13px;
}
.bottom{
    font-family: 'Aldrich';
    font-size: 15px;
    position: absolute;
    bottom: 0;
}
.weather-icon{
    border: 1px solid, yellow;
}